<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numbers Generated</title>
</head>
<body>
    <h1>Your list of <span data-th-text="${number}"></span> random numbers</h1>
    <span data-th-each="n : ${generatedNumbers}">
        <p data-th-text="${n.url}"></p>
        <p data-th-text="${n.name}"></p>
        <img data-th-src="${n.url}" height="500" width="500">
        <!-- <img th:src="../static/images/${n.name}.jpg"> -->
    </span>
</body>
</html>